/*
 * Sky Color Theme
 */
:root {
    --mbt-fill-color: #0ea5e9 !important;
    --mbt-border-color: rgba(14, 165, 233, 0.9) !important;
    --mbt-tip-color: rgba(14, 165, 233, 0.9) !important;
    --mbt-ios26-gradient-start: #38bdf8 !important;
    --mbt-ios26-gradient-end: #0284c7 !important;
    --mbt-android-fill: #0ea5e9 !important;
    --mbt-android-accent: #0284c7 !important;
}
